 .container {
     color: #A1C349;
     font-family: 'Zen Antique', serif;
     text-shadow: 1px 1px grey;
     border: 3px solid #FF9C00;
     text-align: center;
     width: 80%;
     margin: auto;
     text-decoration: none;
 }
 
 table {
     text-align: center;
 }
 
 a {
     color: #A1C349;
 }